body {
    background-color: #343436;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: inherit !important;
}

a:focus {
    outline: none;
}

.main {
    background-color: #eee;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
}

.menu {
    width: 100%;
    height: 50px;
    background-color: #007EFF;
    color:#fff;
    margin-bottom: 50px;
}

.innermenu {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 100px 10px;
}

.menuleft {
    float: left;
    width: 50%;
}

.menuright {
    float: left;
    width: 50%;
    text-align: right;
}

.message {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #eeeef4;
    width: 300px;
    margin: 0 auto;
}
.message p {
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
}

.form {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #eeeef4;
    width: 300px;
    margin: 0 auto;
    text-align: right;
}

.form p {
    font-family: Arial, Helvetica, sans-serif;
    color: #c00;
}

.form label {
    font-size: 12px;
}

.form input[type="text"], 
.form input[type="password"] { 
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.44); 
    color: #333; 
    border: 1px solid #A4A4A4; 
    padding: 4px 4px !important;
    line-height: 1; 
    width: 292px; 
    height:20px; 
} 
.form input[type="text"]:hover, 
.form input[type="password"]:hover { 
    border: 1px solid #FF00FF; 
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
} 
.form input[type="text"]:focus, 
.form input[type="password"]:focus { 
    border: 1px solid #4d90fe; 
    outline: none; 
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);  
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
    background: rgb(255, 255, 255); 
}
.form input[type="submit"] {
    border: 1px solid #A4A4A4; 
    padding: 4px 8px 4px 4px !important;
    line-height: 1; 
    width: 300px; 
    height:28px; 
}

.cont {
    overflow:auto;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ddd;
}

.row {
    background-color: #bbb;
    height: 75px;
    margin: 5px;
}

.rowboardtitle {
    font-size: 20px;
    margin: 0 10px;
    height: 100%;
    line-height: 75px;
    vertical-align: middle;
}

.row:nth-of-type(even) {
    background-color: transparent;
}

.rowright {
    margin-left: 80px;
    height: 100%;
}

.rowtitle {
    height: 75%;
    overflow: hidden;
    font-size: 20px;
}

.rowmenu {
    height: 25%;
    font-size: 12px;
}

.row img {
    height: 75px;
    width: 75px;
    float: left;
}

.row:hover {
    outline: 1px solid #666;
}

.comment {
    background-color: #eee;
    border: 1px solid #aaa;
    margin: 10px 2px 2px 10px;
    padding: 10px 2px 2px 10px;
}

.comhead {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
}

.commenu {
    font-size: 13px;
    font-weight: 700;
    margin-top: 10px;
}

.commenu span {
    background-color: rgba(255,0,0,0.5);
}

.comcontent {

}

.replybox {
    display: none;
}

.replybox textarea {
    width: 100%;
    max-width: 600px;
    height: 100px;
    margin: 5px;
}

.hidden {
    display: none;
}
