<div class="menu">
    <div class="innermenu">
        <div class="menuleft">
            <a href="{{BOARD_PATH}}">
                Home
            </a>
        </div>
        <div class="menuright">
            {% if loggedIn == true %}
            <a href="{{BOARD_PATH}}user?{{info.name}}">
                {{info.name}} - {{info.score}}</a>
            &emsp;
            <a href="{{BOARD_PATH}}login">
                logout</a>
            {% else %}
            <a href="{{BOARD_PATH}}login{{returnTo}}">
                Log in</a>
             - 
             <a href="{{BOARD_PATH}}signup{{returnTo}}">
                Sign up</a>
            {% endif %}
        </div>
    </div>
</div>
