<div class="cont">
    {% for post in posts %}
    <div class="row">
        <img src="{{BOARD_PATH}}img/{{post.img}}.jpg">
        <div class="rowright">
            <div class="rowtitle">
                <a href="{{post.url}}">
                    {{post.title}}
                </a>
            </div>
            <div class="rowmenu">
                <a href="{{BOARD_PATH}}{{post.name}}/post/{{post.code}}">
                    Comments ({{post.count}})
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
